.kafel-3{
	margin-top:510px;
}
.kafle ul{
	margin-top:0;
	margin-bottom:0;
}
.kafle h1{
	margin-bottom:0px !important;
}
@media (max-width:1200px){  /* iPad horizontal */
	.kafel-3{
		margin-top:0;
	}
}