.kafel-3{
	margin-top:510px;
}
@media (max-width:1200px){  /* iPad horizontal */
	.kafel-3{
		margin-top:0;
	}
}
@media (max-width:980px){  /* iPad horizontal */
	.kafel-1 .text{
		text-align:center;
	}
}