@font-face {
    font-family: "Samsung Regular";
    font-style: normal;
    font-weight: normal;
    src: 
		url("../fonts/SamsungIF_Rg.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/SamsungIF_Rg.woff") format("woff"), 
		url("../fonts/SamsungIF_Rg.ttf") format("truetype"), 
		url("../fonts/SamsungIF_Rg.svg#SamsungIF_Rg") format("svg");
}
@font-face {
    font-family: "Samsung Bold";
    font-style: normal;
    font-weight: normal;
    src: 
		url("../fonts/SamsungIF_Bd.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/SamsungIF_Bd.woff") format("woff"), 
		url("../fonts/SamsungIF_Bd.ttf") format("truetype"), 
		url("../fonts/SamsungIF_Bd.svg#SamsungIF_Bd") format("svg");
}

body{
	margin:0;
	font-family: "Samsung Regular" !important;
}
a, a:hover{
	color:black !important;
	text-decoration:none !important;
}
h1{
	font-family:"Samsung Bold" !important;
}
.center{
	text-align:center;
}
.hidden{
	display:none;
}
header{
	padding-top:15px;
	padding-bottom:5px; 
	background-color:black;
	height:55px;
	z-index:2;
	position:fixed;
	width:100%;
}
.logo img{
	width: 100%!important;
	max-width: 234px;
	height: auto!important;
}
#gifts-logo
{
	display: inherit;
    height: auto;
    margin: 0 auto;
    max-width: 453px;
    text-align: center;
    width: 100%;
    padding: 15px;

}
#design-down{
	cursor:pointer;
}
#burger{
	display:none;
	position:absolute;
	background-color:black;
	right:0px;
	top:39px;
	z-index:1;
}
#burger ul{
	margin:0 20px 20px 20px;
	padding:0;
}
#burger ul li{
	list-style:none;
	margin-top:10px;
}
#burger ul li a{
	color:white !important;
	font-size:22px;
}
.burger-menu{
	display:none;
}
.main-menu{
	float:right; 
	margin-left:25px;
}
.main-menu ul{
	margin:0;
	padding:0;
}
.main-menu ul li{
	margin:0;
	padding:0;
	float:left;
	list-style:none;
	margin-left:25px;
	margin-bottom:10px;
}
.main-menu ul li a, .main-menu ul li a:hover{
	color:white !important;
	text-decoration:none;
	font-size:18px;
	text-transform:uppercase;
}
.main-menu ul li a:hover{
	text-decoration:underline !important;
}
.main-menu ul li.selected{
	font-family:"Samsung Bold";
}
.main-menu ul li.price a{
	border:1px solid white;
	border-radius:2px;
	padding:4px 10px 4px 10px;	
}
.specification h3{
	font-size:20px;
	font-weight:bold;
	margin-bottom:18px;
	font-family:"Samsung Bold";
}
.specification p{
	font-size:18px;
}
.next{
	text-align:center;
	font-size:18px;
	margin-top:10px;
	margin-bottom:65px;
}
.next a{
	color:black;
	text-decoration:none;
}
.next img{
	margin-top:10px;
}
.design, .video, .specification, .gifts{
	margin-top:100px;
}
.design-menu{
	margin-top:40px;
	margin-bottom:40px;
}
.design-menu ul{
	margin:0;
	padding:0;
}
.design-menu ul li{
	list-style:none;
	margin-top:15px;
	font-size:17px;
	cursor:pointer;
}
.design-menu .circle{
	float:left;
	border:1px solid #393C43;
	width:24px;
	height:24px;
	border-radius:12px;
	margin-right:15px;
}
.design-menu .black{
	background-color:#393C43;
}
.design-menu .pink{
	background-color:#EBC0CA;
}
.design-menu .brown{
	background-color:#A58A7B;
}
.design-menu ul li.selected{
	font-family:"Samsung Bold";
}
.design h2{
	margin-top:60px;
	font-family: "Samsung Bold";
}
.design p{
	font-size:17px;
}
.design-small{
	text-align:center;
}
.video-container{
	text-align:center;
	margin-bottom:15px;
}
 
.video-picker{
	position:relative;
	left:50%;
	margin-left:-304px;
}
.video-menu{
	text-align:center;
	width:628px;
	height:71px;
	overflow:hidden; 
}
.video-menu ul{
	margin:0;
	padding:0;
	width:99999px;
	position:relative;
	left:0px;
}
.video-menu ul li{
	list-style:none;
	float:left;
	margin-left:11px;
	margin-right:11px;
	cursor:pointer;
}
.video .left{
	text-align:right;
	margin-top:15px;
	cursor:pointer;
}
.video .right{
	text-align:left;
	margin-top:15px;
	cursor:pointer;
}
.gifts{
	/* background:url(../images/telko.png); */
}
.gifts .text{
	font-size:18px;
	padding: 15px;
	 
}
 
.gifts .icons{
	margin-bottom:20px;
}
.gifts .icons .row{
	border-bottom:1px solid #E5E5E5;
	height:105px;
	margin-right:20px;

	margin-bottom:20px;
}
.gifts .icons .icon{
	padding-left:0;
}
.divider{
	height:16px;
	width:100%;
	background:url(../images/divider.png)no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	margin-bottom:20px;
	position: relative;
	 
}
.funkcje{
	padding-top:70px;
}
.funkcje h2{
	font-family:"Samsung Bold";
	margin-bottom:10px;
}
.funkcje p{
	font-size:18px;
	margin-top:20px;
}
.funkcje p b{
	font-family:"Samsung Bold";
}
.kamera, .photo-note, .mozliwosci{
	background-color:#E0F3FA;
}
.ekran, .kamera, .wybor, .photo-note, .dlugopis, .mozliwosci, .bateria{
	padding-top:65px;
	padding-bottom:35px;
}
.ekran{
	padding-top:0px;
}
.funkcje-divider-white-blue{
	text-align:center;
	position:relative;
	top:10px;
}
.funkcje-divider-blue-white{
	text-align:center;
	position:relative;
	top:-12px;
} 
.ekran .text{
	margin-top:100px;
}
.kamera .text{
	margin-top:100px;
}
.wybor .text{
	margin-top:150px;
}
.photo-note .text{
	margin-top:150px;
}
.dlugopis .text{
	margin-top:130px;
}
.mozliwosci .text{
	margin-top:200px;
}
.bateria .text{
	margin-top:200px;
}
.funkcje .arrow-down{
	text-align:center;
	margin-top:20px;
}
.scroll{
	cursor:pointer;
}
.funkcje .photo{
	text-align:center;
}
.funkcje-body{
	background-color:#DEE8EA;
}
.tlo, .tlo-kafel-1{
	background:#DEE8EA url(../images/tlo.png) center top no-repeat;
	background-attachment: fixed;
}
.divider-funkcje{
	text-align:center;
	margin-bottom:100px;
	margin-top:50px;
}
.divider-funkcje.last{ 
	margin-bottom:50px; 
}
.kafle{
	font-size:23px;
}
.kafle h2{
	font-family:"Samsung Bold";
	font-weight:bold;
	text-transform:uppercase;
	font-size:27px;
	background:url(../images/kreska.png) left bottom no-repeat;
	display:inline-block;
	padding-bottom:33px;
}
.kafle ul{
	list-style-image: url(../images/kropka.png);
	margin-top:40px;
	margin-bottom:50px;
}
.kafle ul li{
	margin-bottom:20px;
	font-size:18px;
}
.kafle .photo{
	text-align:center;
}
.brzoska{
	display:none;
	position:fixed;
}
.endo{
	display:none;
	position:fixed;
}
.funindesign{
	display:none;
	position:fixed;
}
.student{
	display:none;
	position:fixed;
}
.kafel-1{
	position:fixed;
	z-index:1;
	background-color:#DEE8EA;
	width:inherit;
	top:40px;
	height:240px;
}
.kafel-1 p{
	margin-top:20px;
	font-size:18px;
}
.kafel-1 .text{
	margin-top:100px;
}
.divider-first{
	margin-bottom:0;
	margin-top:0;
	position:relative;
	top:-20px;
	left:-10px;
}
.kafel-2{
	margin-top:575px;
}
.prass{ 
	margin-bottom:80px;
}
.prass h1{ 
	margin-bottom:80px;
}
.prass p{
	font-size:21px;
	margin-bottom:20px;
}
.prass p b{
	font-family:"Samsung Bold";
	font-weight:normal;
}
.kafle h1{
	font-size:25px !important;
}
.blue-button, .green-button{
	background-color:#89C5D1;
	padding:7px;
	border-radius:10px;
	color:white !important;
	font-weight:bold;
	margin-bottom:20px;
	margin-right:20px;
	display:inline-block;
	font-size:18px;
}
.blue-button:hover, .green-button:hover{
	color:white !important;
	text-decoration:underline !important;
}
.green-button{
	background-color:#AAE4AB;
}
.kafle .icons{
	margin-top:18px;
}
.kafle .icons img{
	margin-right:10px;
}
.kafle .icons .row{
	margin-bottom:20px;
}
.next-to-design{
	line-height:20px;
	margin-bottom:80px;
}
.brzoska .text{
	margin-top:60px;
}
.endo .text{
	margin-top:60px;
}
.funindesign .text{
	margin-top:60px;
}
.student .text{
	margin-top:60px;
}
.burger-menu{ 
	width:40px;
	height:40px;
	background:url(../images/burger.png) center center no-repeat;
	float:right; 
	margin-top:-7px;
	cursor:pointer;
}
.remarks{
	font-size:11px;
	padding-bottom:50px;
}
#arrow-next{
	display:none;
}
.fico{
	position:relative;
	top:-80px;
}
#main-text{
	width:500px;
	text-align:left;
	display:inline-block;
	position:relative;
}
.ui-dialog-titlebar{
  display: none;
}
#dialog{
	display:none;
	background-color:#222222;
	color: #fff; 
 }
#dialog .dialog-close{
	cursor: pointer;
	color: #636363;
	text-align: center;
	width: 25px;
	height: 25px;
	margin-right: 10px;

}
#dialog .dialog-close:hover{
	color: #fff;
}
.ui-dialog {
	width: 90%!important;
	max-width: 650px!important;
	min-height: 150px;
}
.ui-dialog #video-popup iframe
{
 
	padding:10px;
 
}
.video-dialog-close
{
	width: 25px;
	height: 25px;
	cursor: pointer;
	color:#fff;
}
.video-dialog-close:hover
{
	color:#fff;
}
  
.ui-corner-all{
	border-radius: 0px!important;
	background-color: #222!important;
	border:none!important;
}
#dialog-desc{
	padding: 20px 0 20px 0;
	text-align: justify;
}
#dialog-title, #dialog-headline{
 max-width: 470px;
 width: auto;
}
#dialog-img{
	 padding-right: 15px;
	 padding-bottom:15px;
}
.gifts big{
	font-family:"Samsung Bold";
}
#video-popup{
	display:none;
	 
}
 
#video-iframe
{
	 width: 100%;
	height: 400px;
}
.video-width{
	width: 100%!important;
	max-width: 650px!important;
}
.prass img{
	margin-bottom:15px;
}


@media (max-width:1200px){ /* iPad horizontal */
	#design-big{
		width:460px;
	}
	.ekran .text{
		margin-top:0;
	}
	.kamera .text{
		margin-top:0;
	}
	.wybor .text{
		margin-top:0;
	}
	.photo-note .text{
		margin-top:0;
	}
	.dlugopis .text{
		margin-top:0;
	}
	.mozliwosci .text{
		margin-top:0;
	}
	.bateria .text{
		margin-top:0;
	}
	.funkcje-divider-blue-white, .funkcje-divider-white-blue{
		display:none;
	}
	.img{
		width:350px;
	}
	.main-menu{
		display:none;
	}
	.burger-menu{
		display:block;
	}
	.kafle .photo img{
		width:450px;
	}
	.kafel-1 .text img{
		width:400px;
	}
	.kafel-1 .text{
		margin-top:110px;
	}
	.divider-funkcje img{
		width:900px;
	}
	#arrow-down{
		display:none;
	}
	#arrow-next{
		display:block;
	}
	#main-photo{
		width:500px;
		margin-top:0;  
	}
	.main #main-photo{
		width:450px;
	}
	.main .text, .brzoska .text, .endo .text, .funindesign .text, .student .text{
		text-align:center;
		margin-top:50px;
	}
	header{
		position:relative;
	}
	.kafel-1{
		position:relative;
		z-index:1;
		background-color:#DEE8EA;
		width:inherit;
		top:0;
		height:auto;
	}
	.kafel-2{
		margin-top:0;
	}
	.tlo, .tlo-kafel-1{ 
		background-attachment: scroll;
	}
	
}
@media (max-width:1000px){
	.kafel-1 .text{
		margin-top:10px;
	}
	#main-text{
		text-align:center;
	}
	#main-text{
		width:auto;
	}
}
@media (max-width:980px){  /* iPad vertical */
	.video-menu{
		display:none;
	}
	.divider-funkcje img{
		width:700px;
	}
	.kafel-1 .text{
		margin-top:10px;
	}
	
}
@media (max-width:800px){
	.logo{
		padding-bottom:30px;
	}
	.gifts .icons .icon{
		padding-left:20px;
	}
	.kafle .photo img{
		width:250px;
	}
	.divider-funkcje img{
		width:500px;
	}
	#main-photo{
		width:400px;
	}
}
@media (max-width:768px){
	#design-big{
		width:360px;
	}
	
}
@media (max-width:660px){
 
	
}
@media (max-width:500px){ /* iPhone vertical */
    #design-big{
		width:430px;
	}
	.design-menu{
		margin-left:50px;
	}
 
	.video-container{
		margin-bottom:10px;
	}
	.video-menu{
		display:none;
	} 
	.img{
		width:350px;
	}
	.burger-menu{ 
		margin-right:10px; 
	}
	.kafle .photo img{
		width:250px;
	}
	.divider-funkcje img{
		width:450px;
	}
	.kafel-1 .text img{
		width:450px;
	}
	.ficon{
		margin-bottom:20px;
	}
	#main-photo{
		width:400px;
	}
}
@media (max-width:470px){
	#main-photo{
		width:300px;
	}
	.kafel-1 .text img{
		width:300px;
	}
	.kafle .photo img{
		width:200px;
	}
	.divider-funkcje img{
		width:280px;
	}
}
@media (max-width:320px){ /* iPhone vertical */
	#design-big{
		width:280px;
	}
	 
	.video-menu{
		display:none;
	}
	.img{
		width:250px;
	}
	
	
}